#me {
    padding-left: 30px;
    padding-right: 30px;
}

.section_title {
    padding-bottom: 30px;

    h2 {
        font-size: 32px;
        font-weight: bold;
        margin-bottom: 20px;
        padding-bottom: 20px;
        position: relative;
        color: #173b6c;
    }

    h2::after {
        content: "";
        position: absolute;
        display: block;
        width: 50px;
        height: 3px;
        background-color: #149ddd;
        bottom: 0;
        left: 0;
    }
}



.section_about {

    h3 {
        color: #173b6c;
        font-size: 26px;
        font-weight: 700;
    }
    ul {
        list-style: none;
        padding: 0;
    }

    ul li {
        margin-bottom: 20px;
        display: flex;
        align-items: center;
    }

    ul i {
        font-size: 16px;
        margin-right: 5px;
        color: #149ddd;
        line-height: 0;
    }

    ul strong {
        margin-right: 10px;
    }

    p:last-child {
        margin-bottom: 0;
    }
    

}

 

 




